apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../default/elastic-agent-standalone

patches:
- path: elastic-agent-standalone-daemonset-configmap.yaml
- patch: |-
    apiVersion: apps/v1
    kind: DaemonSet
    metadata:
      name: elastic-agent-standalone
      namespace: kube-system
      labels:
        app: elastic-agent-standalone
    spec:
      template:
        spec:
          initContainers:
            - name: k8s-templates-downloader
              image: docker.elastic.co/beats/elastic-agent:8.17.1
              command: ['bash']
              args:
                - -c
                - >-
                  mkdir -p /etc/elastic-agent/inputs.d &&
                  curl -sL https://github.com/elastic/elastic-agent/archive/8.17.tar.gz | tar xz -C /etc/elastic-agent/inputs.d --strip=5 "elastic-agent-8.17/deploy/kubernetes/elastic-agent-standalone/templates.d"
              volumeMounts:
                - mountPath: /etc/elastic-agent/inputs.d
                  name: external-inputs
          containers:
            - name: elastic-agent-standalone
              volumeMounts:
                - name: external-inputs
                  mountPath: /usr/share/elastic-agent/state/inputs.d
          volumes:
            - name: external-inputs
              emptyDir: {}
          