receivers:
  metricbeatreceiver:
    metricbeat:
      modules:
        - module: system
          enabled: true
          period: 1s
          processes:
            - '.*'
          metricsets:
            - cpu
    output:
      otelconsumer:
    logging:
      level: info
      selectors:
        - '*'
    path.home: {{.HomeDir}}
    queue.mem.flush.timeout: 0s
exporters:
  elasticsearch/log:
    endpoints:
      - {{.ESEndpoint}}
    api_key: {{.ESApiKey}}
    logs_index: {{.Index}}
    batcher:
      enabled: true
      flush_timeout: 1s
      min_size_items: {{.MinItems}}
    mapping:
      mode: bodymap
service:
  pipelines:
    logs:
      receivers:
        - metricbeatreceiver
      exporters:
        - elasticsearch/log
