# Team responsible for Fleet Server
* @elastic/elastic-agent-control-plane

# List the changlog fragments without an owner. This will prevent the control plane team from being added
# as a reviewer every time a change to files they do not own also adds a changelog entry.
# https://github.community/t/codeowners-file-with-a-not-file-type-condition/1423/9
changelog/fragments/

# Top-level files ownership
/catalog-info.yaml @elastic/elastic-agent-control-plane @elastic/observablt-ci

# Sub-directories/files ownership. Remember that order matters; the last matching pattern takes the most precedence.
/.buildkite @elastic/elastic-agent-control-plane @elastic/observablt-ci
/.buildkite/pipeline.agentless-tests.yaml @elastic/ingest-managed-jobs
/.buildkite/scripts/steps/validate-agentless-docker-image.sh @elastic/ingest-managed-jobs
/.ci @elastic/elastic-agent-control-plane @elastic/observablt-ci
/.ci/scripts/ecp-internal-release.sh @elastic/elastic-agent-control-plane
/.ci/scripts/update-integration-testdata.sh @elastic/elastic-agent-control-plane
/.ci/scripts/update-otel.sh @elastic/elastic-agent-control-plane
/.github @elastic/elastic-agent-control-plane @elastic/observablt-ci
/.github/CODEOWNERS @elastic/ingest-tech-lead
/.github/workflows/release-notes.yml @elastic/ingest-docs @elastic/elastic-agent-control-plane 
/deploy/helm @elastic/elastic-agent-control-plane
/deploy/helm/edot-collector @elastic/ingest-otel-data
/deploy/kubernetes @elastic/elastic-agent-control-plane
/dev-tools/kubernetes @elastic/elastic-agent-control-plane
/docs/release-notes @elastic/ingest-docs
/docs/docset.yml @elastic/ingest-docs
/.github/workflows/update-docs.yml @elastic/ingest-docs
/docs/reference/edot-collector @elastic/ingest-docs
/docs/scripts/update-docs @elastic/ingest-docs
/internal/pkg/otel/samples @elastic/ingest-otel-data @elastic/ingest-docs
/internal/pkg/otel/components.yml @elastic/ingest-otel-leads
/internal/pkg/composable/providers/kubernetes @elastic/elastic-agent-control-plane
/internal/pkg/otel/samples/darwin/autoops_es.yml @elastic/opex
/internal/pkg/otel/samples/linux/autoops_es.yml @elastic/opex
/internal/pkg/otel/samples/windows/autoops_es.yml @elastic/opex
/deploy/helm/elastic-agent/templates/integrations/_auto_ops @elastic.opex

