---
version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - automation
      - skip-changelog
      - Team:Elastic-Agent
    groups:
        otel-dependencies:
            exclude-patterns:
             - "github.com/elastic/*"
            update-types:
             - "minor"
             - "patch"
    allow:
      # Only update internal dependencies for now while we evaluate this workflow.
      - dependency-name: "github.com/elastic/*"
      - dependency-name: "go.opentelemetry.io/collector/*"
      - dependency-name: "github.com/open-telemetry/opentelemetry-collector-contrib/*"
    reviewers:
      - "elastic/elastic-agent-control-plane"
    open-pull-requests-limit: 10
