{{- include "elasticagent.init" $ -}}
{{- if eq $.Values.agent.fleet.enabled false }}
{{- range $presetName, $presetVal := $.Values.agent.presets }}
{{- if (eq $.Values.agent.engine "k8s") -}}
{{- $agentName := printf "agent-%s" (lower $presetName) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $agentName }}
  namespace: {{ .namespace | default $.Release.Namespace | quote }}
  labels:
    {{- include "elasticagent.labels" $ | nindent 4 }}
    {{- with ($presetVal).labels -}}
    {{ toYaml . | nindent 4 }}
    {{- end }}
  {{- with ($presetVal).annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
stringData:
{{ include "elasticagent.engine.k8s.secretData" (list $ $presetVal $agentName) }}
---
{{- end -}}
{{- end }}
{{- end }}