# Directories
/.vagrant
/.idea
/.vscode
/build
/*/*.template*.json
**/html_docs
elastic-agent/data
elastic-agent/pkg/agent/operation/tests/downloads

# Files
.DS_Store
/beats.iml
*.dev.yml
*.generated.yml
coverage.out
.python-version
beat.db
*.keystore
go_env.properties
mage_output_file.go
elastic-agent/elastic_agent
elastic-agent/fleet.yml
elastic-agent/pkg/agent/operation/tests/scripts/configurable-1.0-darwin-x86_64/configurable
elastic-agent/pkg/agent/operation/tests/scripts/serviceable-1.0-darwin-x86_64/serviceable

# Editor swap files
*.swp
*.swo
*.swn

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.exe
*.test
*.prof
*.pyc

# Terraform
*.terraform
*.tfstate*

# Files generated with the bump version automations
*.bck
