# Directories
/.vagrant
/.idea
/.vscode
/build
/*/*.template*.json
**/html_docs
data
internal/pkg/agent/operation/tests/downloads

# Files
.DS_Store
/beats.iml
*.dev.yml
*.generated.yml
coverage.out
.python-version
beat.db
*.keystore
go_env.properties
mage_output_file.go
elastic_agent
fleet.yml
internal/pkg/agent/operation/tests/scripts/configurable-1.0-darwin-x86_64/configurable
internal/pkg/agent/operation/tests/scripts/serviceable-1.0-darwin-x86_64/serviceable

# Editor swap files
*.swp
*.swo
*.swn

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.exe
*.test
*.prof
*.pyc

# Terraform
*.terraform
*.tfstate*

# Files generated with the bump version automations
*.bck


# agent
build/
elastic-agent
elastic-agent.dev.yml
elastic-agent.yml.*
fleet.yml
fleet.yml.lock
fleet.yml.old
internal/pkg/agent/operation/tests/scripts/short--1.0.yml
internal/pkg/agent/operation/tests/scripts/configurable-1.0-darwin-x86/configurable
internal/pkg/agent/operation/tests/scripts/servicable-1.0-darwin-x86/configurable
internal/pkg/agent/transpiler/tests/exec-1.0-darwin-x86_64/exec
internal/pkg/agent/application/fleet.yml

# VSCode
/.vscode
