{
  "id": "{{ .PkgPolicyId }}",
  "package": {
    "name": "log",
    "version": "2.3.2"
  },
  "name": "log-not2",
  "namespace": "",
  "description": "testing",
  "policy_ids": [
    "{{ .PolicyId }}"
  ],
  "vars": {},
  "inputs": {
    "logs-logfile": {
      "enabled": true,
      "streams": {
        "log.logs": {
          "enabled": true,
          "vars": {
            "paths": [
              "adsfasdf"
            ],
            "exclude_files": [],
            "ignore_older": "72h",
            "data_stream.dataset": "generic",
            "tags": [],
            "custom": "testingtesting: $$$$"
          }
        }
      }
    }
  }
}

