#!/usr/bin/env bash

set -e

PREFIX=""
if [[ ${RPM_INSTALL_PREFIX:-/} != "/" ]]; then
    PREFIX=${RPM_INSTALL_PREFIX}
fi

commit_hash="{{ commit_short }}"
version_dir="{{agent_package_version}}{{snapshot_suffix}}"
symlink_dir="${PREFIX}/usr/share/elastic-agent/bin"
new_agent_dir="${PREFIX}/var/lib/elastic-agent/data/elastic-agent-$version_dir-$commit_hash"
new_endpoint_component_bin="$new_agent_dir/components/endpoint-security"

default_symlink="/usr/share/elastic-agent/bin/elastic-agent"
prefix_symlink="${PREFIX}/usr/share/elastic-agent/bin/elastic-agent"
# delete $default_symlink if exists
# check version without a prefix 1st in case of upgrade
if test -L "$default_symlink"; then
    echo "found symlink $default_symlink, unlink"
    unlink "$default_symlink"
elif test -L "$prefix_symlink"; then
    echo "found symlink $prefix_symlink, unlink"
    unlink "$prefix_symlink"
fi

SERVICE_NAME="ElasticEndpoint"
should_restart_endpoint=false

echo "Checking if $SERVICE_NAME is installed"
if systemctl list-unit-files --type=service | grep -q "^${SERVICE_NAME}.service"; then

    installed_endpoint_version="$(/opt/Elastic/Endpoint/elastic-endpoint version)"
    archive_endpoint_version="$("$new_endpoint_component_bin" version)"

    echo "${SERVICE_NAME} is installed at version ${installed_endpoint_version}"
    if ! systemctl is-active --quiet "$SERVICE_NAME"; then
        echo "$SERVICE_NAME is installed but not running"
        if [[ "$installed_endpoint_version" == "$archive_endpoint_version" ]]; then
            echo "New endpoint and installed endpoint versions are the same: \"${installed_endpoint_version}\""
            should_restart_endpoint=true
        else
            echo "New endpoint version  \"${archive_endpoint_version}\" is different than the one that's already
            installed  \"${installed_endpoint_version}\""
        fi
    else
        # Endpoint can already be running if tamper protection is not enabled
        echo "$SERVICE_NAME is already running"
    fi
else
    echo "$SERVICE_NAME is not installed"
fi

mkdir -p "$symlink_dir"

if [[ ${PREFIX} != "" ]]; then
    # create symlink to the new agent
    echo "create symlink \"${prefix_symlink}\" to \"${new_agent_dir}/elastic-agent\""
    ln -s "$new_agent_dir/elastic-agent" "$prefix_symlink"

    if test -f ${PREFIX}/lib/systemd/system/elastic-agent.service; then
        echo "Prefix: ${PREFIX} detected, editing service file"
        # Replace old paths in service file with new ones, use # as delimiter
        sed -i "s#/etc/elastic-agent/elastic-agent.yml#${PREFIX}/etc/elastic-agent/elastic-agent.yml#g" ${PREFIX}/lib/systemd/system/elastic-agent.service
        sed -i "s#/usr/bin/elastic-agent#${PREFIX}/usr/bin/elastic-agent#g" ${PREFIX}/lib/systemd/system/elastic-agent.service
    fi

    if test -f ${PREFIX}/usr/bin/elastic-agent; then
        echo "editing elastic-agent wrapper"
        # Replace paths in wrapper script
        sed -i "s#/usr/share/elastic-agent/bin/elastic-agent#${PREFIX}/usr/share/elastic-agent/bin/elastic-agent#g" ${PREFIX}/usr/bin/elastic-agent
        sed -i "s#/var/lib/elastic-agent#${PREFIX}/var/lib/elastic-agent#g" ${PREFIX}/usr/bin/elastic-agent
        sed -i "s#/etc/elastic-agent#${PREFIX}/etc/elastic-agent#g" ${PREFIX}/usr/bin/elastic-agent
        sed -i "s#/var/log/elastic-agent#${PREFIX}/var/log/elastic-agent#g" ${PREFIX}/usr/bin/elastic-agent
    fi

    if ! test -L /lib/systemd/system/elastic-agent.service; then
        echo "link ${PREFIX}/lib/systemd/system/elastic-agent.service to /lib/systemd/system/elastic-agent.service"
        ln -s ${PREFIX}/lib/systemd/system/elastic-agent.service /lib/systemd/system/elastic-agent.service
    fi
else
    # create symlink to the new agent
    echo "create symlink \"${default_symlink}\" to \"${new_agent_dir}/elastic-agent\""
    ln -s "$new_agent_dir/elastic-agent" "$default_symlink"
fi

$new_agent_dir/elastic-agent apply-flavor

# reload systemctl and then restart service
echo "systemd enable/restart elastic-agent"
systemctl daemon-reload 2> /dev/null
systemctl enable elastic-agent 2> /dev/null || true
systemctl restart elastic-agent 2> /dev/null || true
# restart endpoint if needed
if [ "$should_restart_endpoint" = true ]; then
    echo "Starting $SERVICE_NAME after elastic-agent"
    systemctl restart "$SERVICE_NAME" 2> /dev/null || true
fi
exit 0
