{{- define "elasticagent.engine.eck.podTemplate" }}
{{- $ := index . 0 -}}
{{- $presetVal := index . 1 -}}
{{- $agentName := index . 2 }}
apiVersion: v1
kind: PodTemplate
template:
  spec:
    dnsPolicy: ClusterFirstWithHostNet
    {{- with ($presetVal).hostNetwork }}
    hostNetwork: {{ . }}
    {{- end }}
    {{- with ($presetVal).hostPID }}
    hostPID: {{ . }}
    {{- end }}
    {{- if eq (dig "automountServiceAccountToken" true $presetVal) true }}
    automountServiceAccountToken: true
    {{- else }}
    automountServiceAccountToken: false
    {{- end }}
    {{- with ($presetVal).nodeSelector }}
    nodeSelector:
      {{- . | toYaml | nindent 6 }}
    {{- end }}
    {{- if eq ($presetVal).serviceAccount.create true }}
    serviceAccountName: {{ $agentName }}
    {{- else }}
    serviceAccountName: {{ ($presetVal).serviceAccount.name }}
    {{- end }}
    {{- with ($presetVal).affinity }}
    affinity:
      {{- . | toYaml | nindent 6 }}
    {{- end }}
    {{- with ($presetVal).tolerations }}
    tolerations:
      {{- . | toYaml | nindent 6 }}
    {{- end }}
    {{- with ($presetVal).topologySpreadConstraints }}
    topologySpreadConstraints:
      {{- . | toYaml | nindent 6 }}
    {{- end }}
    volumes:
      {{- with ($presetVal).extraVolumes }}
      {{- . | toYaml | nindent 6 }}
      {{- end }}
    {{- with ($presetVal).initContainers }}
    initContainers:
      {{- . | toYaml | nindent 6 }}
    {{- end }}
    {{- with $.Values.agent.imagePullSecrets }}
    imagePullSecrets:
      {{- . | toYaml | nindent 6 }}
    {{- end }}
    containers:
      {{- with ($presetVal).extraContainers }}
      {{- . | toYaml | nindent 6 }}
      {{- end }}
      - name: agent
        {{- with $.Values.agent.image.pullPolicy }}
        imagePullPolicy: {{ . }}
        {{- end }}
        {{- if $.Values.agent.image.tag }}
        image: "{{ $.Values.agent.image.repository }}:{{ $.Values.agent.image.tag }}"
        {{- else }}
        image: "{{ $.Values.agent.image.repository }}:{{ $.Values.agent.version }}"
        {{- end }}
        {{- with ($presetVal).securityContext }}
        securityContext:
          {{- . | toYaml | nindent 10 }}
        {{- end }}
        {{- with ($presetVal).resources }}
        resources:
          {{- . | toYaml | nindent 10 }}
        {{- end }}
        volumeMounts:
          {{- with ($presetVal).extraVolumeMounts }}
          {{- . | toYaml | nindent 10 }}
          {{- end }}
        env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: STATE_PATH
            value: "/usr/share/elastic-agent/state"
          {{- with ($presetVal).extraEnvs }}
          {{- . | toYaml | nindent 10 }}
          {{- end }}
          {{- if eq $.Values.agent.fleet.enabled false }}
          {{- with ($presetVal).outputs }}
          {{- range $outputName, $outputVal := . -}}
          {{- (include (printf "elasticagent.output.%s.preset.envvars" ($outputVal).type) (list $ $outputName $outputVal)) | nindent 14 }}
          {{- end }}
          {{- end }}
          {{- end }}
{{- end }}
