inputs:
    - name: filestream-logstash
      type: filestream
      use_output: default
      streams:
        - condition: ${kubernetes.hints.logstash.log.enabled} == true or ${kubernetes.hints.logstash.enabled} == true
          data_stream:
            dataset: logstash.log
            type: logs
          exclude_files:
            - .gz$
          multiline:
            match: after
            negate: true
            pattern: ^((\[[0-9]{4}-[0-9]{2}-[0-9]{2}[^\]]+\])|({.+}))
          parsers:
            - container:
                format: auto
                stream: ${kubernetes.hints.logstash.log.stream|all}
          paths:
            - /var/log/containers/*${kubernetes.hints.container_id}.log
          processors:
            - add_locale.when.not.regexp.message: ^{
            - add_fields:
                fields:
                    ecs.version: 1.10.0
                target: ""
          prospector:
            scanner:
                symlinks: true
        - condition: ${kubernetes.hints.logstash.slowlog.enabled} == true or ${kubernetes.hints.logstash.enabled} == true
          data_stream:
            dataset: logstash.slowlog
            type: logs
          exclude_files:
            - .gz$
          parsers:
            - container:
                format: auto
                stream: ${kubernetes.hints.logstash.slowlog.stream|all}
          paths:
            - /var/log/containers/*${kubernetes.hints.container_id}.log
          processors:
            - add_locale.when.not.regexp.message: ^{
            - add_fields:
                fields:
                    ecs.version: 1.10.0
                target: ""
          prospector:
            scanner:
                symlinks: true
      data_stream.namespace: default
    - name: logstash/metrics-logstash
      type: logstash/metrics
      use_output: default
      streams:
        - condition: ${kubernetes.hints.logstash.node.enabled} == true or ${kubernetes.hints.logstash.enabled} == true
          data_stream:
            dataset: logstash.node
            type: metrics
          hosts:
            - ${kubernetes.hints.logstash.node.host|http://localhost:9600}
          metricsets:
            - node
          period: ${kubernetes.hints.logstash.node.period|10s}
          processors: ${kubernetes.hints.logstash.node.processors}
        - condition: ${kubernetes.hints.logstash.node_stats.enabled} == true or ${kubernetes.hints.logstash.enabled} == true
          data_stream:
            dataset: logstash.node_stats
            type: metrics
          hosts:
            - ${kubernetes.hints.logstash.node_stats.host|http://localhost:9600}
          metricsets:
            - node_stats
          period: ${kubernetes.hints.logstash.node_stats.period|10s}
          processors: ${kubernetes.hints.logstash.node_stats.processors}
      data_stream.namespace: default
