inputs:
    - name: filestream-modsecurity
      id: filestream-modsecurity-${kubernetes.hints.container_id}
      type: filestream
      use_output: default
      streams:
        - condition: ${kubernetes.hints.modsecurity.auditlog.enabled} == true or ${kubernetes.hints.modsecurity.enabled} == true
          id: filestream-modsecurity-auditlog-${kubernetes.hints.container_id}
          data_stream:
            dataset: modsecurity.auditlog
            type: logs
          exclude_files:
            - .gz$
          fields:
            _conf:
                tz_offset: local
          fields_under_root: true
          file_identity:
            fingerprint: null
          parsers:
            - container:
                format: auto
                stream: ${kubernetes.hints.modsecurity.auditlog.stream|'all'}
          paths:
            - /var/log/containers/*${kubernetes.hints.container_id}.log
          processors:
            - add_locale: null
          prospector:
            scanner:
                fingerprint:
                    enabled: true
                symlinks: true
          tags:
            - modsec-audit
      data_stream.namespace: default
