inputs:
    - name: filestream-mongodb
      id: filestream-mongodb-${kubernetes.hints.container_id}
      type: filestream
      use_output: default
      streams:
        - condition: ${kubernetes.hints.mongodb.log.enabled} == true or ${kubernetes.hints.mongodb.enabled} == true
          data_stream:
            dataset: mongodb.log
            type: logs
          exclude_files:
            - .gz$
          parsers:
            - container:
                format: auto
                stream: ${kubernetes.hints.mongodb.log.stream|'all'}
          paths:
            - /var/log/containers/*${kubernetes.hints.container_id}.log
          prospector:
            scanner:
                symlinks: true
          tags:
            - mongodb-logs
      data_stream.namespace: default
    - name: mongodb/metrics-mongodb
      id: mongodb/metrics-mongodb-${kubernetes.hints.container_id}
      type: mongodb/metrics
      use_output: default
      streams:
        - condition: ${kubernetes.hints.mongodb.collstats.enabled} == true or ${kubernetes.hints.mongodb.enabled} == true
          data_stream:
            dataset: mongodb.collstats
            type: metrics
          hosts:
            - ${kubernetes.hints.mongodb.collstats.host|kubernetes.hints.mongodb.host|'localhost:27017'}
          metricsets:
            - collstats
          password: ${kubernetes.hints.mongodb.collstats.password|kubernetes.hints.mongodb.password|''}
          period: ${kubernetes.hints.mongodb.collstats.period|kubernetes.hints.mongodb.period|'10s'}
          ssl.certificate: null
          ssl.enabled: null
          ssl.key: null
          ssl.verification_mode: null
          username: ${kubernetes.hints.mongodb.collstats.username|kubernetes.hints.mongodb.username|''}
        - condition: ${kubernetes.hints.mongodb.dbstats.enabled} == true or ${kubernetes.hints.mongodb.enabled} == true
          data_stream:
            dataset: mongodb.dbstats
            type: metrics
          hosts:
            - ${kubernetes.hints.mongodb.dbstats.host|kubernetes.hints.mongodb.host|'localhost:27017'}
          metricsets:
            - dbstats
          password: ${kubernetes.hints.mongodb.dbstats.password|kubernetes.hints.mongodb.password|''}
          period: ${kubernetes.hints.mongodb.dbstats.period|kubernetes.hints.mongodb.period|'10s'}
          ssl.certificate: null
          ssl.enabled: null
          ssl.key: null
          ssl.verification_mode: null
          username: ${kubernetes.hints.mongodb.dbstats.username|kubernetes.hints.mongodb.username|''}
        - condition: ${kubernetes.hints.mongodb.metrics.enabled} == true or ${kubernetes.hints.mongodb.enabled} == true
          data_stream:
            dataset: mongodb.metrics
            type: metrics
          hosts:
            - ${kubernetes.hints.mongodb.metrics.host|kubernetes.hints.mongodb.host|'localhost:27017'}
          metricsets:
            - metrics
          password: ${kubernetes.hints.mongodb.metrics.password|kubernetes.hints.mongodb.password|''}
          period: ${kubernetes.hints.mongodb.metrics.period|kubernetes.hints.mongodb.period|'10s'}
          ssl.certificate: null
          ssl.enabled: null
          ssl.key: null
          ssl.verification_mode: null
          username: ${kubernetes.hints.mongodb.metrics.username|kubernetes.hints.mongodb.username|''}
        - condition: ${kubernetes.hints.mongodb.replstatus.enabled} == true or ${kubernetes.hints.mongodb.enabled} == true
          data_stream:
            dataset: mongodb.replstatus
            type: metrics
          hosts:
            - ${kubernetes.hints.mongodb.replstatus.host|kubernetes.hints.mongodb.host|'localhost:27017'}
          metricsets:
            - replstatus
          password: ${kubernetes.hints.mongodb.replstatus.password|kubernetes.hints.mongodb.password|''}
          period: ${kubernetes.hints.mongodb.replstatus.period|kubernetes.hints.mongodb.period|'10s'}
          ssl.certificate: null
          ssl.enabled: null
          ssl.key: null
          ssl.verification_mode: null
          username: ${kubernetes.hints.mongodb.replstatus.username|kubernetes.hints.mongodb.username|''}
        - condition: ${kubernetes.hints.mongodb.status.enabled} == true or ${kubernetes.hints.mongodb.enabled} == true
          data_stream:
            dataset: mongodb.status
            type: metrics
          hosts:
            - ${kubernetes.hints.mongodb.status.host|kubernetes.hints.mongodb.host|'localhost:27017'}
          metricsets:
            - status
          password: ${kubernetes.hints.mongodb.status.password|kubernetes.hints.mongodb.password|''}
          period: ${kubernetes.hints.mongodb.status.period|kubernetes.hints.mongodb.period|'10s'}
          ssl.certificate: null
          ssl.enabled: null
          ssl.key: null
          ssl.verification_mode: null
          username: ${kubernetes.hints.mongodb.status.username|kubernetes.hints.mongodb.username|''}
      data_stream.namespace: default
