inputs:
    - name: udp-panw
      id: udp-panw-${kubernetes.hints.container_id}
      type: udp
      use_output: default
      streams:
        - condition: ${kubernetes.hints.panw.panos.enabled} == true or ${kubernetes.hints.panw.enabled} == true
          data_stream:
            dataset: panw.panos
            type: logs
          host: localhost:9001
          max_message_size: 50KiB
          processors:
            - add_locale: null
            - copy_fields:
                fields:
                    - from: '@timestamp'
                      to: event.created
            - syslog:
                field: message
                format: auto
                timezone: Local
            - add_fields:
                fields:
                    internal_zones:
                        - trust
                    tz_offset: Local
                target: _conf
            - add_fields:
                fields:
                    external_zones:
                        - untrust
                target: _conf
          tags:
            - panw-panos
            - forwarded
      data_stream.namespace: default
    - name: filestream-panw
      id: filestream-panw-${kubernetes.hints.container_id}
      type: filestream
      use_output: default
      streams:
        - condition: ${kubernetes.hints.panw.panos.enabled} == true or ${kubernetes.hints.panw.enabled} == true
          data_stream:
            dataset: panw.panos
            type: logs
          exclude_files:
            - \.gz$
          fields:
            _conf:
                external_zones:
                    - untrust
                internal_zones:
                    - trust
                tz_offset: local
          fields_under_root: true
          file_identity:
            fingerprint: null
          parsers:
            - container:
                format: auto
                stream: ${kubernetes.hints.panw.panos.stream|'all'}
          paths:
            - /var/log/containers/*${kubernetes.hints.container_id}.log
          processors:
            - add_locale: null
            - copy_fields:
                fields:
                    - from: '@timestamp'
                      to: event.created
          prospector:
            scanner:
                fingerprint:
                    enabled: true
                symlinks: true
          tags:
            - panw-panos
            - forwarded
      data_stream.namespace: default
    - name: tcp-panw
      id: tcp-panw-${kubernetes.hints.container_id}
      type: tcp
      use_output: default
      streams:
        - condition: ${kubernetes.hints.panw.panos.enabled} == true or ${kubernetes.hints.panw.enabled} == true
          data_stream:
            dataset: panw.panos
            type: logs
          framing: rfc6587
          host: localhost:9001
          max_message_size: 50KiB
          processors:
            - add_locale: null
            - copy_fields:
                fields:
                    - from: '@timestamp'
                      to: event.created
            - syslog:
                field: message
                format: auto
                timezone: Local
            - add_fields:
                fields:
                    internal_zones:
                        - trust
                    tz_offset: Local
                target: _conf
            - add_fields:
                fields:
                    external_zones:
                        - untrust
                target: _conf
          tags:
            - panw-panos
            - forwarded
      data_stream.namespace: default
