inputs:
    - name: filestream-postgresql
      type: filestream
      use_output: default
      streams:
        - condition: ${kubernetes.hints.postgresql.log.enabled} == true or ${kubernetes.hints.postgresql.enabled} == true
          data_stream:
            dataset: postgresql.log
            type: logs
          exclude_files:
            - .gz$
          multiline:
            match: after
            negate: true
            pattern: '^\d{4}-\d{2}-\d{2} '
          parsers:
            - container:
                format: auto
                stream: ${kubernetes.hints.postgresql.log.stream|all}
          paths:
            - /var/log/containers/*${kubernetes.hints.container_id}.log
          processors: ${kubernetes.hints.postgresql.log.processors}
          prospector:
            scanner:
                symlinks: true
          tags:
            - postgresql-log
      data_stream.namespace: default
    - name: postgresql/metrics-postgresql
      type: postgresql/metrics
      use_output: default
      streams:
        - condition: ${kubernetes.hints.postgresql.activity.enabled} == true or ${kubernetes.hints.postgresql.enabled} == true
          data_stream:
            dataset: postgresql.activity
            type: metrics
          hosts:
            - ${kubernetes.hints.postgresql.activity.host|postgres://localhost:5432}
          metricsets:
            - activity
          period: ${kubernetes.hints.postgresql.activity.period|10s}
          processors: ${kubernetes.hints.postgresql.activity.processors}
        - condition: ${kubernetes.hints.postgresql.bgwriter.enabled} == true or ${kubernetes.hints.postgresql.enabled} == true
          data_stream:
            dataset: postgresql.bgwriter
            type: metrics
          hosts:
            - ${kubernetes.hints.postgresql.bgwriter.host|postgres://localhost:5432}
          metricsets:
            - bgwriter
          period: ${kubernetes.hints.postgresql.bgwriter.period|10s}
          processors: ${kubernetes.hints.postgresql.bgwriter.processors}
        - condition: ${kubernetes.hints.postgresql.database.enabled} == true or ${kubernetes.hints.postgresql.enabled} == true
          data_stream:
            dataset: postgresql.database
            type: metrics
          hosts:
            - ${kubernetes.hints.postgresql.database.host|postgres://localhost:5432}
          metricsets:
            - database
          period: ${kubernetes.hints.postgresql.database.period|10s}
          processors: ${kubernetes.hints.postgresql.database.processors}
        - condition: ${kubernetes.hints.postgresql.statement.enabled} == true or ${kubernetes.hints.postgresql.enabled} == true
          data_stream:
            dataset: postgresql.statement
            type: metrics
          hosts:
            - ${kubernetes.hints.postgresql.statement.host|postgres://localhost:5432}
          metricsets:
            - statement
          period: ${kubernetes.hints.postgresql.statement.period|10s}
          processors: ${kubernetes.hints.postgresql.statement.processors}
      data_stream.namespace: default
