# Welcome to {{.BeatName | title}} {{.Version}}{{if .Snapshot}}-SNAPSHOT{{end}}

{{.Description}}

## Documentation
Visit the [Fleet and Elastic Agent Guide](https://www.elastic.co/guide/en/fleet/{{ beat_doc_branch }}/index.html).

## Release notes

https://www.elastic.co/guide/en/fleet/{{ beat_doc_branch }}/release-notes-{{.Version}}.html
