| Version | Configuration  |
|---------|----------------|
{%- for version in versions %}
| {{ "%-7s"|format(version.version) }} | [Gateway mode](https://raw.githubusercontent.com/elastic/elastic-agent/refs/tags/{{ version.tag }}/{{ version.gateway_path }}) |
{%- endfor %}