[Logs - ES]: https://raw.githubusercontent.com/elastic/elastic-agent/refs/tags/v{{ version }}/{{ samples_path }}/linux/platformlogs.yml
[Logs - OTLP]: https://raw.githubusercontent.com/elastic/elastic-agent/refs/tags/v{{ version }}/{{ samples_path }}/linux/managed_otlp/platformlogs.yml
[Logs &#124; Metrics - ES]: https://raw.githubusercontent.com/elastic/elastic-agent/refs/tags/v{{ version }}/{{ samples_path }}/linux/platformlogs_hostmetrics.yml
[Logs &#124; Metrics - OTLP]: https://raw.githubusercontent.com/elastic/elastic-agent/refs/tags/v{{ version }}/{{ samples_path }}/linux/managed_otlp/platformlogs_hostmetrics.yml
[Logs &#124; Metrics &#124; App - ES]: https://raw.githubusercontent.com/elastic/elastic-agent/refs/tags/v{{ version }}/{{ samples_path }}/linux/logs_metrics_traces.yml
[Logs &#124; Metrics &#124; App - OTLP]: https://raw.githubusercontent.com/elastic/elastic-agent/refs/tags/v{{ version }}/{{ samples_path }}/linux/managed_otlp/logs_metrics_traces.yml
[Logs - ES (Windows)]: https://raw.githubusercontent.com/elastic/elastic-agent/refs/tags/v{{ version }}/{{ samples_path }}/windows/platformlogs.yml
[Logs - OTLP (Windows)]: https://raw.githubusercontent.com/elastic/elastic-agent/refs/tags/v{{ version }}/{{ samples_path }}/windows/managed_otlp/platformlogs.yml
[Logs &#124; Metrics - ES (Windows)]: https://raw.githubusercontent.com/elastic/elastic-agent/refs/tags/v{{ version }}/{{ samples_path }}/windows/platformlogs_hostmetrics.yml
[Logs &#124; Metrics - OTLP (Windows)]: https://raw.githubusercontent.com/elastic/elastic-agent/refs/tags/v{{ version }}/{{ samples_path }}/windows/managed_otlp/platformlogs_hostmetrics.yml
[Logs &#124; Metrics &#124; App - ES (Windows)]: https://raw.githubusercontent.com/elastic/elastic-agent/refs/tags/v{{ version }}/{{ samples_path }}/windows/logs_metrics_traces.yml
[Logs &#124; Metrics &#124; App - OTLP (Windows)]: https://raw.githubusercontent.com/elastic/elastic-agent/refs/tags/v{{ version }}/{{ samples_path }}/windows/managed_otlp/logs_metrics_traces.yml

