kubernetes:
  enabled: true

agent:
  unprivileged: true
  presets:
    perNode:
      serviceAccount:
        create: false
        name: user-sa-perNode
      clusterRole:
        annotations:
          elastic-agent.k8s.elastic.co/cr: nginx
    clusterWide:
      serviceAccount:
        create: false
        name: user-sa-clusterWide
      clusterRole:
        annotations:
          elastic-agent.k8s.elastic.co/cr: nginx
