# insert your connection parameters here and save it as .env before running skaffold commands

# managed elastic agent vars
FLEET_URL=https://<fleet host>:443
FLEET_ENROLLMENT_TOKEN=<enrollment token>

# standalone elastic agent vars
ES_HOST=https://<elasticsearch host>:443
ES_USERNAME=elastic
ES_PASSWORD=changeme
