name: bump-otel-version

on:
  workflow_dispatch:
  schedule:
  - cron: '24 5 * * 1-5'

permissions:
  contents: read

env:
  JOB_URL: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"

jobs:
  update-otel:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        branch: ["main", "8.19"]
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ matrix.branch }}

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'

    - name: Run Updatecli in Apply mode
      uses: elastic/oblt-actions/updatecli/run@v1
      with:
        command: apply --config .ci/updatecli/update-otel.yml --values .ci/updatecli/values.d/scm.yml
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH_NAME: ${{ matrix.branch }}

    - if: ${{ failure()  }}
      uses: elastic/oblt-actions/slack/send@v1
      with:
        bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
        channel-id: "#ingest-notifications"
        message: ":traffic_cone: updatecli failed for `${{ github.repository }}@${{ github.ref_name }}`, `@agent-team` please look what's going on <${{ env.JOB_URL }}|here>"
