---
name: bump-vm-images

on:
  workflow_dispatch:
  schedule:
    # Since the CI Agent images are produced weekly on Saturday at 0am UTC
    # and we can only bump the version after the images are available
    # let's try on Saturday at 12:00 UTC.
    - cron: "0 12 * * 6"

permissions:
  contents: read

env:
  JOB_URL: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"

jobs:

  bump:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: elastic/oblt-actions/updatecli/run@v1
        with:
          command: apply --config .ci/updatecli/updatecli-bump-vm-images.yml --values .ci/updatecli/values.d/scm.yml
          version-file: .updatecli-version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH_NAME: ${{ matrix.branch }}
