name: Changelog
on: [pull_request]

jobs:
  fragments:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version-file: .go-version
    - name: check pr-has-fragment
      run: |
        GOBIN=$PWD/bin go install github.com/elastic/elastic-agent-changelog-tool@latest
        ./bin/elastic-agent-changelog-tool pr-has-fragment --repo ${{ github.event.repository.name }} ${{github.event.number}}
