name: macos-12

on:
  pull_request:
  push:
    branches:
      - main
      - 8.*

jobs:
  macos-12:
    runs-on: macos-12
    steps:
    - uses: actions/checkout@v3
    - name: Fetch Go version from .go-version
      run: echo "GO_VERSION=$(cat .go-version)" >> $GITHUB_ENV
    - uses: actions/setup-go@v3
      with:
        go-version: ${{ env.GO_VERSION }}
    - name: Install dependencies
      run:  go install github.com/magefile/mage
    - name: Run build
      run: mage build
    - name: Run test
      run: mage unitTest
