name: Validate docs generation structure

on:
  pull_request:
    paths:
      - 'internal/edot/**'
      - 'internal/pkg/otel/**'

jobs:
  validate-structure:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      
      - name: Validate expected files for docs generation
        run: make validate-docs-files

